

body{
  margin: 0px;
  padding: 0px;
}

.PageBreak{
  margin-top: 10px;
}

/*Mobile*/


.MobileappFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

}

.MobileBanner{
  padding: 5px;
  text-align: center;
  font-size: 30px;
  height: 15%;
  width: 100%;
  background-image: linear-gradient( 150deg,
   #5c9ab0 2%, #184668 98%
  );
  color: ghostwhite;
}

.MobileBgFlex{
  display: flex;
  flex-direction: column;
  align-items:  center;
  background-color: #f7f2f0;
  height: 100%;
  width: 100%;
}

.MobileCard{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 95%;
  background-color: ghostwhite;
  border: thin black;
  text-align: center;
  border-radius: 13px;
}

.MobileCardText{
  margin: 10px;
}

.MobileCardTextTitle{
  margin: 10px;
  font-size: 25px;
}

.MobileCardTextFooter{
  font-size: 12px;
  margin: 0px;
  padding: 25px;
  background-color:#f7f2f0;
}

.MobileScheduleButtonFlex{
  height: 100%;
  width: 100%;
  background-color: ghostwhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MobileScheduleButton{
  align-items: center;
  margin: 16px;
  height: 100%;
  width: 90%;
  font-size: 22px;
  background-image: linear-gradient( 150deg,
  #5c9ab0 2%, #184668 98%
 ); 
 color: ghostwhite;
 border-radius: 16px;

}

